.tablero{
  background: white;
  width:700px;
  height:685px;
  padding:10px;
  border-radius:10px;
  border:10px solid #000000;
  font-size:120%;
  margin: auto; 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
}

.carta{
  width: 150px;
  height: 150px;
  padding: 10px;
  border: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  
}

.cartaf{
  transform: rotateY(180deg);
  
}